html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  height: 1500px;
  padding-top: 80px;
  padding-left: 98px;
  padding-right: 24px;
  background-color: rgb(250, 250, 250);
}

p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

a:link,
a:visited,
a:link:active,
a:visited:active {
  color: black;
  text-decoration: none;
  cursor: pointer;
}