.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
.thumbnail {
  /* width: 300px; */
  /* display: block; */
  /* margin-bottom: 12px; */
  /* height: 300px; */
  /* object-fit: contain; */
  /* object-position: bottom; */
  /* border-style: solid; */
  /* border-radius: 2px; */
  /* border-color: black; */
  width: 100%;
}
.video-time {
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 4px;
  border-radius: 2px;
  position: absolute;
  right: 8px;
  bottom: 8px;
}
/* .video-preview { */
/* width: 300px; */
/* display: inline-block; */
/* vertical-align: top; */
/* margin-right: 15px; */
/* } */

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  /* padding-top: 10px; */
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 8px;
}

.video-author,
.video-stat {
  font-size: 12px;
  color: rgb(95, 95, 95);
  margin-bottom: 4px;
}

/* .channel-picture { */
/* display: inline-block; */
/* vertical-align: top; */
/* width: 50px; */
/* } */

.profile-picture {
  width: 36px;
  border-radius: 50%;
}

/* .video-info { */
/* display: inline-block; */
/* width: 200px; */
/* } */

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.channel-tooltip-container {
  width: 36px;
  position: relative;
}
.channel-tooltip-container .channel-tooltip {
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px -2px 3px rgba(0, 0, 0, 0.15);
  padding: 16px 16px 16px 12px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: absolute;
  top: 46px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
  z-index: 100;
}
.channel-tooltip-container:hover .channel-tooltip {
  opacity: 1;
}
.channel-tooltip img {
  height: 60px;
  border-radius: 50%;
  margin-right: 8px;
}
.channel-tooltip p:nth-of-type(1) {
  font-weight: bold;
  margin-bottom: 4px;
}
.channel-tooltip p:nth-of-type(2) {
  /* color: rgb(65, 65, 65); */
  font-size: 14px;
}
